</main>
<!-- End of main inner body of webpage -->
<footer>
	<div class="container">
		<div class="row socials">
			<a class="icon fab fa-soundcloud" href="http://soundcloud.com/THEBLKNICHE" target="_blank" aria-hidden="true"></a>
			<a class="icon fab fa-twitter" href="http://twitter.com/BLKNICHE" target="_blank" aria-hidden="true"></a>
			<a class="icon fab fa-youtube" href="http://youtube.com/channel/UCWqXAs4-DRf4GzNDgs_JAow" target="_blank" aria-hidden="true"></a>
			<a class="icon fab fa-instagram" href="http://instagram.com/BLKNICHE" target="_blank" aria-hidden="true"></a>
		</div>
		<div class="row copyright" id="copyright">&copy; BLK.NICHE COLLECTIVE <%= new Date().getFullYear() %></div>
	</div>
</footer>
</body>
</html>