</main>
<!-- End of main inner body of webpage -->
<footer>
	<div class="container">
		<div class="row socials">
			<div class="icon"><a href="http://soundcloud.com/THEBLKNICHE" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></div>
			<div class="icon"><a href="http://twitter.com/BLKNICHE" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
			<div class="icon"><a href="http://youtube.com/channel/UCWqXAs4-DRf4GzNDgs_JAow" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
			<div class="icon"><a href="http://instagram.com/BLKNICHE" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
		</div>
		<div class="row copyright" id="copyright">
			&copy; BLK.NICHE COLLECTIVE <%= new Date().getFullYear() %>
		</div>
	</div>
</footer>
</body>
</html>