	<footer>
		<div class="col-xs-6">
			<div class="socials">
				<div class="col-xs-3 icon"><a href="http://soundcloud.com/THEBLKNICHE" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></div>
				<div class="col-xs-3 icon"><a href="http://twitter.com/BLKNICHE" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
				<div class="col-xs-3 icon"><a href="http://youtube.com/channel/UCWqXAs4-DRf4GzNDgs_JAow" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
				<div class="col-xs-3 icon"><a href="http://instagram.com/BLKNICHE" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
			</div>
		</div>

		<div class="col-xs-6" id="copyright">
			&copy; Black Niche Collective <%= new Date().getFullYear() %>
		</div>
	</footer>
</main>
<!-- End of main inner body of webpage -->
</body>
</html>