<!DOCTYPE html>
<html class="<%= pageName %> page" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %> /// BLK.NICHÈ</title>
	<link rel="stylesheet" type="text/css" href="/css/maincss.css">
	<link rel="stylesheet" type="text/css" href="/css/logo-cube.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
	<script src="/js/Detect.js/detect.min.js"></script>
	<script src="/js/Detect.js/bDetect.js"></script>
	<script src="/js/mainjs.min.js"></script>
	<% if(errors) { %> <script> $(function(){ $("#sign-up").click() }) </script> <% } %>
</head>

<body>

<header>
	<div class="inner-header fixed">
		<a><div class="col-xs-6" id="header-logo">
			<img src="/img/logo/logo 3.png"><p>Music Group</p>
		</div></a>
		
		<nav class="col-xs-6">
			<a><div id="menu"><p>Menu</p></div></a>
			<div class="link-group">
				<a><div class="col-sm-3 link" id="music"><p>Music</p></div></a>
				<a><div class="col-sm-3 link" id="videos"><p>Videos</p></div></a>
				<a><div class="col-sm-3 link" id="info"><p>Info</p></div></a>
				<% if (user) { %>
					<a><div class="col-sm-3 link" id="logout"><p>Logout</p></div></a>
				<% } else { %>
					<a><div class="col-sm-3 link" id="sign-up" data-toggle="modal" data-target="#registration"><p>Sign Up</p></div></a>
				<% } %>
			</div>
		</nav>
	</div>
</header>

<div id="toTop"><p><span class="glyphicon glyphicon-chevron-up"></span></p></div>


<!-- including the modals -->
<% include modals/register %>

<% include modals/login %>

<% include modals/update %>

<!-- Main inner body of webpage -->
<div class="container-fluid">