<% include partials/header %>

	<section class="index">		
		<!-- Rotating cube containing logo -->
		<div class="logo">
			<div class="cube">
				<div class="front"></div>
				<div class="back"></div>
				<div class="top"></div>
				<div class="bottom"></div>
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
	</section>
	
<% include partials/footer %>