<% include partials/header %>

	<!-- HOME / TOP / MAIN section -->
	<section class="index">
		<!-- Background image slideshow (autoplaying with JS) -->
		<div id="bgreel">
			<div style="background-image: url('/img/bgreel/IMG_0576.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0650.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0670.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0688.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0750.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0485.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0506.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0550.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0785.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0786.JPG');"></div>
			<div style="background-image: url('/img/bgreel/IMG_0792.JPG');"></div>
		</div>

		<!-- Rotating cube containing logo -->
		<div class="logo">
			<div class="cube">
				<div class="front"></div>
				<div class="back"></div>
				<div class="top"></div>
				<div class="bottom"></div>
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
	</section>

	<!-- MUSIC section -->
	<section class="music">

		<!-- BS Carousel for music cover images -->
		<div class="column col-sm-6 carousel slide img-container" id="music-carousel">

			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li id="cover0" data-target="#music-carousel" data-slide-to="0" class="active"></li>
				<li id="cover1" data-target="#music-carousel" data-slide-to="1"></li>
				<li id="cover2" data-target="#music-carousel" data-slide-to="2"></li>
				<li id="cover3" data-target="#music-carousel" data-slide-to="3"></li>
			</ol>

			<!-- Container for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="img" style="background-image:url('/img/music-cover/cover2.jpg')"></div>
					<div class="carousel-caption">
						<h3 class="carousel-caption-title">Up To No Good</h3>
						<p class="carousel-caption-artist">AB</p>
					</div>
				</div>

				<div class="item">
					<div class="img" style="background-image:url('/img/music-cover/cover1.jpg')"></div>
					<div class="carousel-caption">
						<h3 class="carousel-caption-title">Story Mode</h3>
						<p class="carousel-caption-artist">Sorom</p>
					</div>
				</div>

				<div class="item">
					<div class="img" style="background-image:url('/img/music-cover/cover3.jpg')"></div>
					<div class="carousel-caption">
						<h3 class="carousel-caption-title">Experimental EP</h3>
						<p class="carousel-caption-artist">Dede</p>
					</div>
				</div>

				<div class="item">
					<div class="img" style="background-image:url('/img/music-cover/cover4.jpg')"></div>
					<div class="carousel-caption">
						<h3 class="carousel-caption-title">Faded</h3>
						<p class="carousel-caption-artist">Micah Starz</p>
					</div>
				</div>
			</div>

			<!-- Left + right arrow controls -->
			<a class="left carousel-control" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>
		
		<div class="column col-sm-6 textbox">
			<table>
				<tr>
					<td>
						<!-- follow two element text is extracted from carousel caption in JS -->
						<h2 class="slide-title music-title"></h2>
						<p class="slide-artist music-artist"></p><br>
						<p class="slide-info music-info"><button type="button" class="btn btn-primary">BUY NOW</button></p>
					</td>
				</tr>
			</table>
		</div>

	</section>

	<!-- VIDEOS section -->
	<section class="videos">
		<!-- BS Carousel for music cover images -->
		<div class="column col-sm-6 col-sm-push-6 carousel slide img-container" id="videos-carousel">

			<!-- Indicators -->
			<ol class="carousel-indicators">
			</ol>

			<!-- Container for slides -->
			<div class="carousel-inner">
			</div>

			<!-- Left + right arrow controls -->
			<a class="left carousel-control" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>

		<div class="column col-sm-6 col-sm-pull-6 textbox">
			<table>
				<tr>
					<td>
						<h2 class="slide-title video-title"></h2>
						<p class="slide-artist video-artist"></p><br>
						<p class="slide-info video-info"></p>
					</td>
				</tr>
			</table>
		</div>
	</section>

	<!-- INFO section -->
	<section class="info">
		<div class="column col-sm-6 img-container">
			<div id="bgreel2">

			</div>
		</div>
		
		<div class="column col-sm-6 textbox">
			<table>
				<tr>
					<td><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum laboriosam omnis nisi cumque accusamus dolorem reiciendis modi, aliquid magnam quidem ipsam reprehenderit asperiores quos laudantium quas, eligendi aut numquam accusantium.</p></td>
				</tr>
			</table>
		</div>
	</section>
	
<% include partials/footer %>