.logo {
	position: absolute;
	top: 50%; left: 50%;
	width: 200px; height: 200px;
	transform: translate(-50%, -50%);
	perspective: 300px; /*distance to box*/
	perspective-origin: 50%; /*angle you're looking at it from - default is top left corner*/
	z-index: 98;
}

.cube {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d; /* sets the 3D effect */
	animation: spin 10s infinite linear;
}
.cube div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	filter: invert(100%);
}
.back {
	transform: translateZ(-100px) rotateY(180deg);
	background-image: url("../img/logo/logo 3.png");
}
.front {
	transform: translateZ(100px);
	background-image: url("../img/logo/logo 3.png");
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}