@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto+Condensed|Oswald:700');

html, body {
	font-family: 'Questrial';
	font-size: 1em;
	color: rgb(200, 200, 200);
	background-color: rgb(64, 64, 66);
}

a {
	cursor: pointer;
	color: inherit;
	transition: .5s;
}

a:hover {
	text-decoration: none;
	color: gold;
}

*[class*="col"] {
	padding: 0;
}

.row {
	margin: 0;
}

.dt-view {
	display: none;
}

@media (min-width: 768px) {
	.dt-view {
		display: block;
	}

	.mb-view {
		display: none;
	}
}

header,
footer {
	width: 100%;
	padding: 20px 0;
	z-index: 101;
}

header {
	position: absolute;
	width: 100%;
	text-align: center;
	color: white
}

header a {
	transition: 0s;
}

header nav {
	position: relative;
}

@media (min-width: 768px) {
	header nav {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

header .menu-icon {
	position: absolute;
	display: none;
	right: 0;
	padding: 15px 18px;
	transition: .4s;
	z-index: 40;
}

header .menu-icon:hover,
header .menu-icon.is-active:hover {
	opacity: 1;
}

header .menu-icon.is-active {
	background-color: transparent;
}

header .menu-icon .hamburger-box {
	width: 24px;
	height: 28px;
}

header .menu-icon .hamburger-inner:before,
header .menu-icon .hamburger-inner:after,
header .menu-icon .hamburger-inner {
	width: 100%;
	height: 2px;
	background-color: white!important;
}


header nav .link {
	padding: 0 10px;
}

header .inner-header.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	animation: fadeIn .4s 1 backwards;
}

@keyframes fadeIn {
	from {opacity: 0}
	to {opacity: 1}
}

header .inner-header.fixed .menu-icon {
	display: block;
}

header .inner-header.fixed .link-group {
	display: none
}

header .inner-header.fixed .link {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer {
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, .5);
}

footer .row {
	padding: 1em 0;
}

footer .copyright {
	font-size: .75em;
}

footer .socials .icon {
	display: inline-block;
	width: 60px;
	color: white;
}

.socials.fixed {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 50;
}

@media (min-width: 768px) {
	footer .socials .icon a {
		font-size: 1.5em;
	}
}

section, main {
	position: relative;
}

#toTop {
	position: fixed;
	left: 100%; bottom: 0;
	background-color: rgba(0,0,0,.5);
	padding: 17px 20px;
	color: white;
	cursor: pointer;
	transition: .5s transform;
	z-index: 103;
}

.modal .modal-content {
	background-color: rgba(255, 255, 255, .7)
}

.modal .close {
	opacity: .5;
}

.modal .close:active {
	opacity: .8;
}

.modal .modal-title img {
	height: 1.5em;
	cursor: pointer;
}

.modal .tabs {
	margin-bottom: 20px;
}

.modal .tabs a {
	text-align: center;
	font-size: 1.2em;
}

.modal .nav-pills > li.active > a,
.modal .nav-pills > li.active > a:focus,
.modal .nav-pills > li.active > a:hover {
	background-color: rgba(0,0,0,.5);
}

.modal .nav-pills a:hover {
	color: inherit;
}

#registration .tabs li {
	width: calc(50% - 2px);
}

.modal legend {
	text-align: center;
	border: none;
}

.modal fieldset > p {
	margin-bottom: 1em;
}

.modal .modal-body {
	padding: 15px 10%;
}

.modal .details {
	margin-bottom: 1.5em;
}

.modal .details.name {
	text-align: left;
	width: calc(50% - 10px);
	margin-right: 0px;
	float: left;
}

.modal .details.name + label + .details.name {
	margin-left: 20px;
}

.modal .DOB-group {
	width: 100%;
}

.modal .DOB-group > .group-item {
	display: inline-block;
	width: calc(25% - 18px);
}

.modal .DOB-group input.group-item {
	margin-left: 20px;
}

.modal .DOB-group label {
	font-weight: inherit;
	font-size: 14px;
	padding-left: 12px;
}

.modal .submit {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	max-width: 250px;
	text-align: center;
}

.modal .result {
	text-align: left;
	margin-bottom: .5em;
}

section {
	min-height: 100vh;
	z-index: 1;
}

section > .column {
	width: 100%;
}

section > .img-container {
	height: 70vh;
	padding: 20px;
}

section .textbox {
	display: table;
}

section .textbox .textbody {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 0 30px;
}

@media (min-width: 768px) {
	section > .column {
		height: 100vh;
		padding: 0;
	}
}

section .carousel-inner,
section .item {
	height: 100%;
}

.carousel .carousel-control {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 10%;
	height: 50%;
	background-image: none;
}

section .carousel-caption {
	display: none;
}

section .carousel-indicators {
	bottom: 60px
}

section .img {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section video.img {
	cursor: pointer;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
	border-color: transparent;
}

.bgreel,
.bgreel > div {
	height: 100%;
}

.bgreel > div {
	position: absolute;
	width: 100%;
	background-size: cover;
	background-position: center;
	-webkit-filter: contrast(.5);
	filter: contrast(.5);
}

section:not(.index) .bgreel {
	position: relative;
}

@media (min-width: 768px) {
	.index .bgreel > div {
		background-attachment: fixed;
	}
}

section .slide-title {
	/*font-family: Oswald;*/
	font-weight: bold;
	font-size: 3em;
	-moz-transform: skew(10deg, 3deg);
	-o-transform: skew(10deg, 3deg);
	-webkit-transform: skew(10deg, 3deg);
	transform: skew(10deg, 3deg);
}

section.music button {
	background-color: gold;
	color: black;
	transition: .5s;
	font-weight: bold;
}

section.music button:hover,
section.music button:focus {
	background-color: darkgoldenrod;
	outline-color: gold;
}

section.music button:active {
	filter: brightness(.75);
}

.icon-container {
	position: absolute;
	top: 70px;
	right: 25px;
	background-color: white;
	width: 100px;
	height: 100px;
	border: 5px solid white;
	border-radius: 300px;
	overflow: hidden;
}

.profile-info {
	left: 0px;
	width: 100%;
	padding: 20px 40px;
	background-color: rgba(0, 0, 0, .5);
	color: white;
}

.profile-info form:not(#uploadIcon_form),
.profile .blog form {
	display: inline-block;
}

@media (max-width: 768px) {
	.profile-info a {
		display: block;
	}
}

@media (min-width: 768px) {
	.icon-container {
		width: 300px;
		height: 300px;
	}
}

.profile #new_post {
	width: 300px;
}

.profile .post {
	margin-bottom: 20px;
}

.profile .post .post_footer,
.profile .post .post_timestamp {
	text-align: right;
}

.profile .post .footer-button {
	display: inline-block;
	padding: 5px;
	background-color: grey;
	border: 2px solid white
}
