<!-- Update form -->
<div id="forgot" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<p class="modal-title"><img src="/img/logo/logo 3.png"></p>
			</div>

			<div class="modal-body">
				<!-- FORM -->
				<form class="form-group">
					<fieldset>
						<legend>Forgot</legend>

						<div class="result"></div>

						<label class="sr-only">Email Address</label>
						<input class="form-control details" type="email" name="email_update" placeholder="Email">

						<label class="sr-only">Send request</label>
						<input class="form-control submit" type="submit" value="Send request">
					</fieldset>
				</form>
			</div>

			<div class="modal-footer"></div>

		</div>
	</div>
</div>
