<div id="reset_password_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<p class="modal-title"><img src="/img/logo/logo 3.png"></p>
			</div>

			<div class="modal-body">
				<!-- FORM -->
				<form class="form-group" id="reset_password_form">
					<fieldset>
						<legend>RESET PASSWORD</legend>

						<div class="result"></div>

						<label class="sr-only">New Password</label>
						<input class="form-control details" type="password" name="password" placeholder="New Password">

						<label class="sr-only">Confirm new Password</label>
						<input class="form-control details" type="password" name="passwordConfirm" placeholder="Confirm new Password">

						<label class="sr-only">SAVE</label>
						<input class="form-control submit" type="submit" value="Save">
					</fieldset>
				</form>
			</div>

		</div>
	</div>
</div>
